.button {
    background-color: #4CAF50; /* Green */
    border: 5px;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#ans {
    font-size: 150%;
}

#flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

table, tr, td, h1 {
    border: 1px solid;
    background-color: white;
}